<div class="container">
  <div class="row">
    <div class="col-md-6">
     <form action="/allboards" method="POST">
            <label>Title:
              <input name="name" type="text" class="form-control" placeholder="Project Name">
              </label><br>
           <input type="submit" class="btn btn-primary" value="Submit">
     </form>
    </div>
  </div>
</div>