<h1>All Boards</h1>
<section>
    {{#each board}}
    <h1>{{this.title}}</h1>
        <article>
            <header></header>
            <h2>{{this.name}}</h2>
            <h4>{{this.createdAt}}</h4>
            <h4>{{this.updatedAt}}</h4>
        </article>
    {{/each}}
</section>