<h1>All Boards</h1>
<section>
    {{#each board}}
        <article>
            <header></header>
            <h1>{{this.name}}</h1>
           <h4>{{this.createdAt}}</h4>
            <h4>{{this.updatedAt}}</h4>
        </article>
    {{/each}}
</section>