<div class="container">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      TO-DO
      {{#each board}}
      {{this.id}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{task.name}}</li>
      <li class="list-group-item">{{task.name}}</li>
      <li class="list-group-item">{{task.name}}</li>
    </ul>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
      {{/each}}
  </div>

</div>



