<div class="container">
   {{this.name}}
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      TO-DO
      {{#each board}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{this.name}}</li>
      <li class="list-group-item">{{this.name}}</li>
      <li class="list-group-item">{{this.name}}</li>
    </ul>
     <div class="container">In progess </div> 
     <div class="container">Completed</div>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
       
        <a class="btn btn-primary" href="/addtask" role="button">Add</a>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
      {{/each}}
  </div>




