<div class="board">

  <div class="container">

  <div class="card" >
    <div class="card-header">
      TO-DO
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item draggable" draggable="true">Fix bugs</li>
      <li class="list-group-item draggable" draggable="true">Peer review</li>
      <li class="list-group-item draggable" draggable="true">Attend meeting</li>
    </ul>

  </div>

       <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="/views/task.handlebars"><button type="button" class="btn btn-success">Add</button></a>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>

  </div>

  <div class="container">

  <div class="card" >
    <div class="card-header">IN PROGRESS</div>
  </div>

      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="/views/task.handlebars"><button type="button" class="btn btn-success">Add</button></a>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
      
  </div>


  <div class="container">

  <div class="card" >
    <div class="card-header">COMPLETED</div>
  </div>

      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="/views/task.handlebars"><button type="button" class="btn btn-success">Add</button></a>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
      
  </div>

</div>









