<div class="container">
  <div class="row">
    <div class="col-md-6">
     <form>
            <label>Title:
              <input name="name" type="text" class="form-control" placeholder="Project Name">
              </label><br> 
                <label>Description:
                    <input type="textarea" name="description" class="form-control" placeholder="Fix bugs with code">
                </label><br>
                <label >Assigned To:
                     <input type="text" class="form-control" placeholder="Sam">
                </label><br>
           <input type="submit" class="btn btn-primary" value="Submit">
     </form>
    </div>
  </div>
</div>