
<div class="container">
  <div class="row">
    <div class="col-md-6">
     <form>
        <div class="column">
            <label for="fname">Name:</label><br>
            <input type="text" class="form-control" placeholder="John" id="name">
           
            <label for="assigned">Assigned To:</label><br>
            <input type="text" class="form-control" placeholder="Sarah" id="assignedTo">

            <label for="description">Description:</label><br>
            <input type="textarea" class="form-control" placeholder="Fix bugs with code" id="description">
        </div>
         <button type="button" class="btn btn-primary" id="btnAdd">Add</button>
     </form>
    </div>
  </div>
</div>
