<div class="container">
  <div class="row">
    <div class="col-md-6">
     <form>
            <label>Title:
              <input type="text" class="form-control" placeholder="Shopping">
              </label><br>
            <label>Description:
              <input type="textarea" class="form-control" placeholder="Fix bugs with code" >
              </label><br>
            <label>Assigned To:</label><br>
              <input type="text" class="form-control" placeholder="Sarah" >
              </label><br>
           <input type="submit" class="btn btn-primary" value="Submit">
     </form>
    </div>
  </div>
</div>