<div class="container">
    <h1 id="board"></h1>
    <div class="row">
        <div class="col-md-6">
            <form action="/task" method="POST">
            <div class="column">
                <label>Title:
                    <input type="text" name="name" class="form-control" placeholder="Shopping">
                </label><br>
                <label>Description:
                    <input type="textarea" name="description" class="form-control" placeholder="Fix bugs with code">
                </label><br>
                <input type="hidden" name ="BoardId" id="BoardId">
            </div>
            <button type="submit" value="Submit" class="btn btn-primary" id="btnAdd">Add</button>
            </form>
        </div>
    </div>
</div>


<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const board = urlParams.get('board')
    console.log(board);
    var new_text = 'Add task to board '.concat(board);
    document.getElementById("board").innerHTML = new_text
    document.getElementById("BoardId").value = board
</script>