<div class="card mx-auto" style="width: 18rem;">
    <div class="card-header" id="cardHeader">
      Task
    </div>
    <ul class="list-group list-group-flush" id="listCard">
      <li class="list-group-item"><span class="card-ref">Name:</li>
      <li class="list-group-item"><span class="card-ref">Description:</li>
      <li class="list-group-item"><span class="card-ref">Created at:</li>
      <li class="list-group-item"><span class="card-ref">Assigned to: </li>
    </ul> 
    <button type="button" class="btn btn-info" job="delete">Remove</button>                  
</div>