.board {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px;
}

.card-header {
  text-align: center;
  font-weight: bold;
}

.card {
  margin: 10px;
  width: 18rem;
}

.btn {
  margin: 10px;
  height: fit-content;
  position: fixed;
  top: 8px;
  right: 18px;

}
.contain {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

body {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

#BoardsTitle {
  font-family: 'Rubik', sans-serif;
  color: #05386b;
  font-weight: 500;
  margin: 10px;
  text-shadow: 2px 2px #5cdb95 ;
}

h1 {
  color: #05386b ;
}

.container{
  background-color: #ffff ;
  border: solid;
  border-color: #5cdb95;
  border-radius: 25px;
  flex: content;
  width: 300px;
  height: 900px;
  box-sizing: border-box;
}

#form{
  margin: 10px;
}

.boardTitle {
  border: solid;
  border-color: #5cdb95;
  border-radius: 25px;
  border-style: inset;
  background-color: #ffff;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 5px #05386b;
}

#boardLine {
  text-decoration: none;
}

#editLine  {
  text-decoration: none;
}
