<div class="container">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      TO-DO
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fix bugs</li>
      <li class="list-group-item">Peer review</li>
      <li class="list-group-item">Attend meeting</li>
    </ul>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      IN PROGRESS
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fix bugs</li>
      <li class="list-group-item">Peer review</li>
      <li class="list-group-item">Attend meeting</li>
    </ul>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      COMPLETED
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fix bugs</li>
      <li class="list-group-item">Peer review</li>
      <li class="list-group-item">Attend meeting</li>
    </ul>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
  </div>

</div>



